.vscode/

# Go vendored libs
# vendor/*/

lastupdate.tmp

# binary file
tidb-operator
cmd/tidb-gc/tidb-gc

# generate swagger file
operator/swagger

*.tar.gz

# swagger lib
swagger/css
swagger/fonts
swagger/images
swagger/lang
swagger/lib
swagger/swagger-ui*
swagger/*.html